<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://youtube.com"> <b>Atalho para o YouTube</b> Versão 1.0.1-beta alpha</a>
  </div>
  <strong
    >O site usa <a href="https://adminlte.io">AdminLTE</a> e <a href="https://boostrap.com">Bootstrap </a>. Feito
    com <i class="fa fa-heart"></i> por <a target="_blank" href="https://discord.gg/9NwAZ6vAPC"> _2.0.0.3_#1886</a>.</strong
  >
</footer>
